<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div id="window">
    <h1>
      <%= title %>
    </h1>
    <% messages.forEach((msg)=> { %>
      <div class="message">
        <p class="message-text">
          <%= msg.text %>
        </p>
        <p class="message-user">
          <%= msg.user %>
        </p>
        <p class="message-added">
          <%= msg.added %>
        </p>
      </div>
      <% }) %>
        <a href="/new" id="button-new-msg">New message</a>
  </div>
</body>

</html>